body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.stuff {
	margin-top: 50px;
}
input.button {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}
div#list {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid black;
	border-radius: 25px;
	width: 370px;
	padding: 20px;
}